{%set 
        adv =[
    {
    title: 'Консьерж-сервис',
    img: 'servise.png'
    },
    {
    title: 'Спортзал',
    img: 'sport.png'
    },
    {
    title: 'Конференц-комната',
    img: 'conf-room.png'

    },
    {
    title: 'Лаунж зона
    на крыше',
    img: 'lounge.png'
    },
    {
    title: 'Детская комната',
    img: 'child-room.png'
    },
    {
    title: 'Прачечная',
    img: 'washroom.png'

    },
    {
    title: 'Студия дизайна',
    img: 'design.png'

    }
] %}

<div class="advantages">
  <div class="container">
    <div class="advantages__top">
      <div class="advantages__col">
        <p>Obolon Residences – это современный жилой комплекс закрытого типа с собственной благоустроенной территорией.
          Комплекс состоит из трех зданий высотой от 24 до 26 этажей, объединенных масштабным общим подиумом. Общая
          строительная площадь объекта превышает 68 000 кв.м и состоит преимущественно из жилых помещений.</p>
        <p>На уровне подиума разместятся первоклассные рестораны и кафе, супермаркет, разнообразные магазины и центры
          оказания бытовых услуг. Второй этаж</p>
      </div>
      <div class="advantages__col">
        <p>каждого здания выделен под современные офисные помещения. В каждой секции предусмотрен двухуровневый
          паркинг, в который можно спуститься прямо на лифте.</p>
        <p>1-я секция Obolon Residence построена и сдана в эксплуатацию в октябре 2015 года.</p>
        <p>Во 2-й очереди возведен монолит здания, сдача запланирована на конец 2016 года.</p>
        <p>Строительство 3-ей секции будет завершено в 2018 году. На закрытой территории комплекса </p>
      </div>
      <div class="advantages__col">
        <p>уже организованы детская и спортивная площадки, зона для отдыха, выполнено озеленение.</p>
        <p>ЖК Obolon Residences предлагает разнообразие планировочных решений: от однокомнатных студио до
          четырехкомнатных апартаментов и роскошных двухуровневых пентхаусов с выходом в собственную лаунж-зону на
          крыше.</p>
        <p>Obolon Residences – жизнь, которая вдохновляет!</p>
      </div>
    </div>
    <div class="advantages__bottom">
   <div class="container">
       <div class="advantages__items">
            {% for i in adv %}
            {{ mixins.advitems(
              img = i.img,
              title = i.title
            )}}
            {% endfor %}
       </div>
        
   </div>
            
            
 
    </div>
  </div>

</div>
