<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__left">
                    <div class="facebook">
                            <div class="fb-page" data-href="https://www.facebook.com/pg/ObolonResidences/about/" data-tabs="timeline" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/pg/ObolonResidences/about/"><a href="https://www.facebook.com/pg/ObolonResidences/about/">Obolon</a></blockquote></div></div>
                            <div id="fb-root"></div>
                        </div>
            </div>
            <div class="footer__right">
                <div class="sales">
                    <h3>ОФИС ПРОДАЖ</h3>
                    <div class="sales__inner">
                        <div class="sales__item">
                            <p class="text text_gold">Ждем Вас по адресу</p>
                            <span>пр. Оболонский, 26</span>
                            <span>Киев, 04205, Украина</span>
                        </div>


                        <div class="sales__item">
                            <p class="text text_gold">Режим работы офиса продаж:</p>
                            <span>Пн.–Пт. 9:00 – 19:00</span>
                            <span>Сб., Вс. 10:00 – 16:00 </span>
                        </div>
                        <div class="sales__item">
                                <a href="tel:++38 (044) 498 26 26">+38 (044) 498 26 26</a>
                                <a href="mailto:info@o-r.com.ua" class="link link_gold">info@o-r.com.ua</a>
                        </div>
                    </div>
                </div>
                <div class="footer__quest-form">
                    <form class="form" action="#">
                        <p>Задать вопрос</p>
                        <div class="form__field"><input type="text" placeholder="Введите имя"/></div>
                        <div class="form__field"><input type="text" placeholder="Введите e-mail/телефон"/></div>
                        <div class="form__field"><textarea name="comment" placeholder="Введите комментарий"></textarea></div>
                       
                        <button type="submit">Отправить</button>
                  
                    </form>
                </div>
            </div>
        </div>

    </div>
</footer>