<div class="investors" style="background-image:url('../../img/investors-bg.png')">
    <div class="container">
        <div class="investors__inner">
            <div class="investors__logo">
                <img src="../../img/investors-logo.png" alt="Obolon-Residence">
            </div>
            <div class="investors__description">
                <p>Obolon Residences – это еще один объект жилой недвижимости исключительного качества в портфеле
                    Dragon-Ukrainian Properties & Development plc (DUPD), международного девелопера, акции которого
                    котируются на Лондонской фондовой бирже.
                    <span>Продажу квартир осуществляет ЗНВПИФ "Девелопмент" ООО "Драгон Эссет Менеджмент".</span>
                </p>
                
                <p>DUPD создан инвестиционной компанией целью инвестирования в украинский рынок жилой и коммерческой
                    недвижимости. DUPD уже инвестировал более $250 млн. в ряд проектов в Украине, среди которых
                    коттеджный городок Green Hills, эксклюзивный клубный поселок Riviera Villas, сеть гипермаркетов
                    «Новая линия» и компания Arricano, инвестирующая в объекты торговой недвижимости
                    (торгово-развлекательные центры Skymall, «Район», «Проспект» (Киев), Sun Gallery (Кривой Рог), City
                    Mall (Запорожье), Inter Mall (Симферополь) и другие).
                </p>
                <p>Dragon Capital – крупнейшая инвестиционная компания Украины, предоставляющая полный спектр
                    инвестиционно-банковских и брокерских услуг для институциональных, корпоративных и частных
                    клиентов. Основана в 2000 в Киеве. Контроль над Dragon Capital принадлежит ее менеджменту,
                    миноритарным пакетом компании владеет Goldman Sachs, одна из крупнейших мировых инвестиционных
                    компаний. Под управлением Dragon Capital находится инвестиционный портфель стоимостью около $0,5
                    млрд.</p>
            </div>
        </div>

    </div>

</div>