{%set
advpopup =[
{
title: 'Консьерж-сервис',
img: 'servise.png',
data: 'servise'
},
{
title: 'Спортзал',
img: 'sport.png',
data: 'sport'
},
{
title: 'Конференц-комната',
img: 'conf-room.png',
data: 'conf-room'

},
{
title: 'Лаунж зона
на крыше',
img: 'lounge.png',
data: 'lounge'
},
{
title: 'Детская комната',
img: 'child-room.png',
data: 'child-room'
},
{
title: 'Прачечная',
img: 'washroom.png',
data: 'wash'

},
{
title: 'Студия дизайна',
img: 'design.png',
data: 'design'

}
] %}


{%set
roomspopup =[
{
title: 'Консьерж-сервис',
img: '../../img/apartaments/section1room1.png',
data: '1-1'
},
{
title: 'Спортзал',
img: '../../img/apartaments/section1room1.png',
data: '1-2'
},
{
title: 'Конференц-комната',
img: '../../img/apartaments/section1room1.png',
data: '1-3'

},
{
title: 'Лаунж зона
на крыше',
img: '../../img/apartaments/section1room1.png',
data: '1-4'
},
{
title: 'Детская комната',
img: '../../img/apartaments/section1room1.png',
data: '1-5'
},
{
title: 'Прачечная',
img: '../../img/apartaments/section1room1.png',
data: '2-1'

},
{
title: 'Студия дизайна',
img: '../../img/apartaments/section1room1.png',
data: '2-2'

},
{
title: 'Студия дизайна',
img: '../../img/apartaments/section1room1.png',
data: '2-3'

},
{
title: 'Студия дизайна',
img: '../../img/apartaments/section1room1.png',
data: '2-4'

},
{
title: 'Студия дизайна',
img: '../../img/apartaments/section1room1.png',
data: '2-5'

}
] %}


{%set
galleryslider =[
{
img: '../../img/apartaments/section1room1.png'
},
{
img: '../../img/apartaments/section1room1.png'
},
{
img: '../../img/apartaments/section1room1.png'
},
{
img: '../../img/apartaments/section1room1.png'
},
{
img: '../../img/apartaments/section1room1.png'
},
{
img: '../../img/apartaments/section1room1.png'
},
{
img: '../../img/apartaments/section1room1.png'
},
{
img: '../../img/apartaments/section1room1.png'
},
{
img: '../../img/apartaments/section1room1.png'
},
{
img: '../../img/apartaments/section1room1.png'
}
] %}

{% for k in advpopup %}
<div class="popup js-popup" data-popup="{{k.data}}">

  <div class="popup__inner">

    {{ mixins.advpopitems(
    img = k.img,
    title = k.title,
    data = k.data
    )}}

  </div>

</div>
{% endfor %}

{% for i in roomspopup %}
<div class="popup js-popup" data-popup="{{i.data}}">

  <div class="popup__inner">

    {{ mixins.roomspopitems(
    img = i.img,
    title = i.title,
    data = i.data
    )}}

  </div>

</div>
{% endfor %}

<div class="popup js-popup" data-popup="booking">
  <div class="popup__inner">
    <div class="booking-form">
      <div class="popup__close js-popup-close">
        <span>Close</span>
      </div>
      <form class="form" action="#">
        <p>Записаться на просмотр</p>
        <div class="form__field"><input type="text" placeholder="Введите имя" /></div>
        <div class="form__field"><input type="text" placeholder="Введите e-mail/телефон" /></div>
        <div class="form__field"><textarea name="comment" placeholder="Введите комментарий"></textarea></div>

        <button type="submit">Отправить</button>

      </form>
    </div>

  </div>
</div>




<div class="popup js-popup" data-popup="gallery-slider">

  <div class="popup__inner">
    <div class="popup__item">
      <div class="popup__close js-popup-close">
          <span>Close</span>
      </div>
      <div class="popup__content">
        <div class="gallery-slider js-gallery-slider">
          {% for g in galleryslider %}
          <img src="{{g.img}}" alt="" />
          {% endfor %}
        </div>
      </div>
    </div>



  </div>

</div>
