{%set roomContent =[
{
    class: 'is-active',
    dataPopup: '1-1',
    sectionNumber: '1',
    roomNumber: '1',
    room: '1-комнатная',
    type: 'Тип1',
    typeP: 'Тип П1',
    roomDescription: 'Section1 room1',
    img: '../../img/apartaments/section1room1.png'
    },
    {
    sectionNumber: '1',
    dataPopup: '1-2',
    roomNumber: '2',
    room: '2-комнатная',
    type: 'Тип1',
    typeP: 'Тип П1',
    roomDescription: 'Section1 room2',
    img: '../../img/apartaments/section1room1.png'
    },
    {
    sectionNumber: '1',
    dataPopup: '1-3',
    roomNumber: '3',
    room: '3-комнатная',
    type: 'Тип1',
    typeP: 'Тип П1',
    roomDescription: 'Section1 room3',
    img: '../../img/apartaments/section1room1.png'
    },
    {
    sectionNumber: '1',
    dataPopup: '1-4',
    roomNumber: '4',
    room: '4-комнатная',
    type: 'Тип1',
    typeP: 'Тип П1',
    roomDescription: 'Section1 room4',
    img: '../../img/apartaments/section1room1.png'
    },
    {
    sectionNumber: '1',
    dataPopup: '1-5',
    roomNumber: '5',
    room: 'Пентхаус',
    type: 'Тип1',
    typeP: 'Тип П1',
    roomDescription: 'Section1 Пентхаус',
    img: '../../img/apartaments/section1room1.png'
    },
    {
    sectionNumber: '2',
    dataPopup: '2-1',
    roomNumber: '1',
    room: '1-комнатная',
    type: 'Тип1',
    typeP: 'Тип П1',
    roomDescription: 'Section2 room1',
    img: '../../img/apartaments/section1room1.png'
    },
    {
    sectionNumber: '2',
    dataPopup: '2-2',
    roomNumber: '2',
    room: '2-комнатная',
    type: 'Тип1',
    typeP: 'Тип П1',
    roomDescription: 'Section2 room2',
    img: '../../img/apartaments/section1room1.png'
    },
    {
    sectionNumber: '2',
    dataPopup: '2-3',
    roomNumber: '3',
    room: '3-комнатная',
    type: 'Тип1',
    typeP: 'Тип П1',
    roomDescription: 'Section2 room3',
    img: '../../img/apartaments/section1room1.png'
    },
    {
    sectionNumber: '2',
    dataPopup: '2-4',
    roomNumber: '4',
    room: '4-комнатная',
    type: 'Тип1',
    typeP: 'Тип П1',
    roomDescription: 'Section2 room4',
    img: '../../img/apartaments/section1room1.png'
    },
    {
    sectionNumber: '2',
    dataPopup: '2-5',
    roomNumber: '5',
    room: 'Пентхаус',
    type: 'Тип1',
    typeP: 'Тип П1',
    roomDescription: 'Section2 Пентхаус',
    img: '../../img/apartaments/section1room1.png'
    }

] %}



<div class="apartaments">
  <div class="container">
    <div class="apartaments__inner">
      <div class="apartament">
        <div class="apartament__sections">
          <p>1. Выберете секцию</p>
          <a href="#" class="sections-link js-section-link is-active" data-tab="1">Секция 1</a>
          <a href="#" class="sections-link js-section-link " data-tab="2">Секция 2</a>
        </div>
        <div class="apartament__rooms">
          <p>2.Выберете кол-во комнат</p>
          <a href="#" class="rooms-link is-active js-rooms-link" data-room="1">1</a>
          <a href="#" class="rooms-link js-rooms-link" data-room="2">2</a>
          <a href="#" class="rooms-link js-rooms-link" data-room="3">3</a>
          <a href="#" class="rooms-link js-rooms-link" data-room="4">4</a>
          <a href="#" class="rooms-link js-rooms-link" data-room="5">Пентхаус</a>
        </div>
      </div>
      {% for k in roomContent %}
      {{ mixins.tabscontent(
        class = k.class,
        dataPopup = k.dataPopup,
        sectionNumber = k.sectionNumber,
        roomNumber = k.roomNumber,
        room = k.room,
        type = k.type,
        typeP = k.typeP,
        roomDescription = k.roomDescription,
        img = k.img
        
        )}}
      
      {% endfor %}
     
    </div>
  </div>
</div>
